
@{
    ViewBag.Title = "Index";
}

<h2>Regler</h2>
<hr />

<p>Spillet</p>
<ul>
    <li>Best of 5</li>
    <li>3 mands hold</li>
    <li>Bane: Mannfield</li>
    <li>Det første hold i alfabetisk rækkefølge vælger side</li>
</ul>
<p>Generelt</p>
<ul>
    <li>Man må kun deltage med et hold!</li>
</ul>
